@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A;
}

p{
    margin: 0;
}

h2 {
    margin: 0;
}

.wrapper{
    max-width: 1250px;
    margin: auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}

.navbar-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 22px;
}

.menu-item:not(:last-child) {
    margin-right: 14px;
}

.menu-link {
    text-decoration: none;
    color: inherit;
    line-height: 16px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background: #256EEB;
    border-radius: 5px;
    color: white;
}

/*search-panel*/

.search-panel{
    height: 50px;
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input{
    flex-grow: 1;
    background: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 22px;
}

.search-button{
    border: none;
    background: #256EEB;
    color: white;
    padding: 0 17px 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-button-text{
    margin-left: 5px;
}

/*page*/

.page-title{
    font-weight: 700;
    /*font-size: 24px;*/
    line-height: 28px;
    margin-bottom: 25px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
    padding-bottom: 50px;
}

.card-img{
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
    margin-bottom: 5px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    text-decoration: none;
}

.card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
}

.like {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.card-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    margin-bottom: 10px;
}

.card-text{
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
}

/*sidebar*/

.page-title-sidebar{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 7px 0 5px;
}

.servie-text{
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
}

.footer-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link{
    font-size: 12px;
    line-height: 14px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
}

.hr{
    margin-bottom: 20px;
}

/*Страница объявления*/
/*контент*/

.main-single {
    display: flex;
    align-items: flex-start;
}

.content {
    max-width: 460px;
    margin-right: 30px;
}

.swiper {
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
    border-radius: 10px;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.6;
    border-radius: 10px;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }

  .content-text {
    font-size: 14px;
    line-height: 140%;
    padding-top: 30px;
  }

/*author*/

.author {
    min-width: 264px;
}

.author-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 30px;
}

.author-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.single-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.author-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    display: block;
}

.rating {
    margin-bottom: 5px;
}

.rating-counter {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
    margin-left: 10px;
}

.author-status {
    font-size: 12px;
    line-height: 14px;
}

.button-block {
    width: 100%;
    height: 54px;
    display: block;
    margin-bottom: 14px;
    border: none;
    color: white;
    border-radius: 5px;
}

.button-success {
    background-color: #14B4BE;
}

.banner img {
    width: 100%;
}

.menu-button {
    display: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.close {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: white;
}

/*adaptiv*/

@media (max-width: 1275px) {
    .wrapper {
        max-width: 960px;
    }

    .card {
        width: 45%;
    }

    .card-img{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 990px) {
    .wrapper {
        max-width: 760px;
    }

    .card-img{
        width: 100%;
        height: 160px;
    }

    .page-single {
        grid-template-columns: 12fr;
    }

    .content-text {
        margin-bottom: 20px;
    }

    .banner img {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 790px) {
    .wrapper {
        max-width: 580px;
    }

    .card {
        width: 100%;
    }

    .card-img{
        height: 200px;
    }

    .page-content {
        grid-template-columns: 8fr 4fr;
    }

    .menu-button {
        display: block;
    }

    .navbar-panel {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s, opacity 0.2s;
        transform: translateX(100%);
        opacity: 0;
    }

    .is-open {
        transform: translateX(0%);
        opacity: 1;
    }

    .navbar-menu {
        margin-left: auto;
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .button-group {
        display: flex;
        flex-direction: column;
    }

    .close {
        display: block;
    }

    .page-single {
        grid-template-columns: 12fr;
    }

    .main-single {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content {
        margin: 0 auto 20px;
    }

    .author {
        margin-bottom: 30px;
    }

    .sidebar {
        text-align: center;
    }

    .footer {
        text-align: left;
    }
    
}

@media (max-width: 610px) {
    .wrapper {
        max-width: 90%;
    }

    .page-content {
        grid-template-columns: 12fr;
    }

    .card-img{
        height: 250px;
    }

    .page-title {
        font-size: 18px;
        line-height: 21px;
    }
    
    .card {
        margin-right: 0;
    }

    .search-button-text {
        display: none;
    }
}